body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-scrollbar-track-backgroundcolor: "transparent";
  -webkit-scrollbar-track-margin-top: 10px;
  -webkit-scrollbar-track-overflow: overlay;
}
body .bg-tailwind {
  inset: 0px;
  position: fixed;
  z-index: -1;
}
body .slick-slide:not(:last-child) {
  -webkit-padding-start: 12px;
          padding-inline-start: 12px;
}
body .slick-slide:not(:first-child) {
  -webkit-padding-end: 12px;
          padding-inline-end: 12px;
}
body .slick-dots {
  display: flex !important;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}
body .slick-dots li {
  display: flex;
  background-color: theme("backgroundColor.slate.500");
  height: 12px;
  width: 12px;
  border-radius: 8px;
  margin: 0px 4px;
  cursor: pointer;
  transition-duration: 300ms;
  transition-property: all;
}
body .slick-dots li button {
  opacity: 0;
}
body .slick-dots .slick-active {
  width: 24px;
  background-color: theme("colors.primary");
}

.dark .slick-dots .slick-active {
  background-color: theme("colors.primaryDark");
}

.Toastify__toast-container--top-right {
  top: 4rem;
}

.Toastify__toast-theme--dark {
  background-color: #111827;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "AmiriQuran";
  src: url("../fonts/AmiriQuran-Regular.ttf");
}
@font-face {
  font-family: "Mada";
  src: url("../fonts/Mada-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}/*# sourceMappingURL=style.css.map */